body {
  background-image: url(wood.png);
}
.container {
  margin: auto;
  margin-top: 100px;
  width: 50%;
}

.currentDiv {
  color: #fff;
  font-size: 17px;
  margin-top:100px;
  margin: auto;
  margin-top: 80px;
  display: block;
  width: 90%;
  height: 400px;
  text-align: center;
  overflow: hidden;
}

pre {
  display: inline-block;
  text-align: left;
  height: 400px;
}

.txtInput {
  display: block;
  color: #555;
  width: 600px;
  height: 30px;
  font-family: Arial, serif;
  font-size: 25px;
  margin: auto;
  margin-top: 10px;
  background: transparent none repeat scroll 0;
  border-width: medium;
}

.redBg {
  background-color: red;
}

p {
  display: block;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.duration {
  display: block;
  text-align: center;
}